
.example-full-width {
  width: 80%;
}

mat-toolbar {
  box-shadow: 3px 5px 16px 0 rgba(0,0,0,0.4);
}

::ng-deep label.mat-input-placeholder {
  transition-duration: 0.8s;
  color: #fff;  
  text-decoration-color: white;
}

::ng-deep .mat-form-field-underline{
  background-color: white;
}

::ng-deep #cdk-overlay-0{
  width: auto !important;
}

h2{
  font-family: 'Caveat', cursive;
    position: relative;
    left: 30%;
    letter-spacing: 7px;
    font-size: 28px;
}


@media only screen and (min-width: 1000px) {
  
h2{
  left:42%;
}

}