.playing{
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.name {
    font-size: 15px;
}

.button-row{
    margin-left: 22%;
}

.duration {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.mat-button-toggle-checked{
    color: black;
    background-color: transparent;
}

.mat-button-toggle-standalone{
    box-shadow: none;
}
mat-grid-list {
    width: 100%;
    margin-bottom: -10px;
}
.container {
    min-height: 200px;
    background: #80d8ff;
}