@import url('https://fonts.googleapis.com/css?family=Rubik');
mat-sidenav {
  width: 400px;
  background: #2980B9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
.sidenav {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}
.scrollable {
  min-height: 480px;
}
.material-icon{
  margin: 5px;
}

.scrollable ul{
  margin: 0;
  padding: 0;
}
.scrollable ul li {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
}
.trackName {
  /* border: 2px solid white; */
  width: auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
  
  