<!--The content below is only a placeholder and can be replaced.-->
<div class="sidenav">
  <mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')" *ngIf="!shouldRun">
    <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
      <div style="margin-left: 10px">
        <p>
          <button mat-fab (click)="close('toggle button')">
            <i class="material-icons">
              close
            </i>
          </button>
        </p>

        <!-- Song List -->
        <div class="scrollable">
          <ul *ngIf="tracks.length > 0" >
            <li class="tracks" *ngFor="let track of tracks;" (click)="playCurrent(track.id)">
              <mat-grid-list cols="6" rowHeight="70px"> 
                <!-- style="border: 2px solid white;"> -->
                  <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <button mat-fab color="warn">
                      <i class="material-icons">favorite_border</i>
                    </button>
                  </mat-grid-tile>
                  <mat-grid-tile [colspan]="5" [rowspan]="1">
                    <div class="trackName">
                      {{track.trackName}}
</div>
                  </mat-grid-tile>
              </mat-grid-list>
            </li>
          </ul>
          <p *ngIf="tracks.length <= 0" class="noSongs">No songs added yet!</p>
        </div>
      </div>
    </mat-sidenav>


    <mat-sidenav-content>
      <app-header [player]="player"></app-header>
      <app-animation #animation></app-animation>
      <app-player #player [animation]="animation"></app-player>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>