@import url('https://fonts.googleapis.com/css?family=Rubik');
mat-sidenav {
  width: 400px;
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
.sidenav {
  margin: 0;
  padding: 0;
  font-family: 'Happy Monkey', cursive;
}
.scrollable {
  min-height: 480px;
  color:white !important;
}
.material-icon{
  margin: 5px;
}

.scrollable ul{
  margin: 0;
  padding: 0;
}
.scrollable ul li {
  list-style-type: none;
  margin: 2px;
  padding: 2px;
  cursor: pointer;
}
.trackName {
  /* border: 2px solid white; */
  width: auto;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.tracks:hover{
  background-color: rgba(25, 42, 53, 0.3);
}  
  
.noSongs{
  color: white;
  position: relative;
  top: 180px;
  margin-left: 90px;
}

@media only screen and (min-width: 1000px) {
  .noSongs{
    color: white;
    position: relative;
    top: 180px;
    margin-left: 90px;
  }
}